.profile {
    display: grid;
    grid-template-areas: 
    "avatar name edit  add"
    "avatar caption . add";
    margin: auto;
    margin-top: 40px;
    max-width: 68.75%;;
    min-height: 120px;
}