.elements {
  display: grid;
  justify-content: center;
  max-width: 68.75%;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 17px;

  margin: 51px auto 0px auto;
  padding: 0px;
}

@media screen and (max-width: 1279px) {
  .elements {
    max-width: 68.75%;
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 767px) {
  .elements {
    grid-template-columns: 282px;
    max-width: 88.125%;
    margin-top: 36px;
  }
}
