.logo {
  left: 0px;
  top: 0px;
  max-width: 143px;
  max-height: 33px;
}

@media screen and (max-width: 320px) {
  .logo {
    margin-left: 27px;
    max-width: 103.74px;
    max-height: 24.4px;
  }
}
