.popup__close {
  position: relative;
  width: 32px;
  height: 32px;
  left: 468px;
  top: -188px;
  border: none;
  background: transparent;
  background-image:url(../../../images/CloseIcon.svg);
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    left: 282px;
    top: -186px;
  }
}

.popup__close:hover {
  opacity: 0.6;
  transition: 1s ease-in;
  }